.header{
    margin:0px 65px;
}
.search-panel{
    float: left;
}
#logo{
    float: left;
}

.khung-search{
    height: 30px !important;
    margin-top: 6px;
}
.search-btn{
    height: 30px;
}
.search-btn{
    height: 30px;
    margin-top:-10px !important;
}
.input-group{
    float: left !important;
    margin-top: 27px;
    margin-left: 10%;
}


.phan-header-co-dinh{background-color: white;z-index: 999;}
.single-link:hover{background-color: #0CC;}

.luachontieuchi{float: left;}
.btn-search{    padding: 5px;
                margin-top: -3px;
                margin-left: -1px;
                width: 36px;
}

.soluongmua{
    width: 50px;
    height: 30px !important;
}

.hoadonmua{width: 55%;padding: 10px;margin-top: 20px;}

.diachi{
    float: left;
    margin-left: 20px;
}
.ngaymua{}

.dathangthucsu{
    font-size: 20px;
    font-weight: bold;
    height: 40px;
}
#logo{
    width: 280px;
    height: 35px;
    margin-left: 28px;
    margin-top: 25px;
}

.viewmore{float: right !important;margin-right: 5px;}
.flex-direction-nav a{width:auto;height:auto;padding: 20px;margin-top: 0px}
.flex-direction-nav .flex-next {width:5px;height:12px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{width:auto;height:auto;padding:20px;margin-top: 0px}

.flex-control-nav{display: none;}
.products-list li .style1 a.thumb img{height: 30% !important;}
.brands{margin-top: 25px;}
.product-info{float: left !important;}
.main-price{border-top:none;border-bottom:none;}
.std{padding: 0px 15px;}
.label{background-color: white;
       color: black;
       font-size: 14px;}
.breadcrumb{margin-bottom: 20px;}
.h2{margin: 15px 2px;}
.input-quantity-text
{
    line-height: 36px;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.input-quantity{height: 30px !important;}



.products-list li .thumbnail .add_to_cart {
    margin: -6px 0 0 -55px;
    padding: 0;
    width: 110px;
    height: 110px;
    background: #0CC;
    border: 5px solid #FFF;
    border-radius: 100%;
    box-shadow: none;
    font: normal 14px/100px Roboto Condensed, Arial, Helvetica, sans-serif;
    color: #FFF;
    text-shadow: none;
    text-transform: uppercase;
    display: block;
    position: absolute;
    top: -110px;
    left: 50%;
    transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
}
.products-list li:hover .thumbnail .add_to_cart {
    top: -20px;
}
.products-list li:hover .thumbnail .add_to_cart:hover {
    background: #FC0;
}
.products-list-small li .thumbnail .add_to_cart {
    margin: 0 auto;
    padding: 0 10px;
    width: inherit;
    height: 40px;
    background: #F0F0F0;
    border: none;
    border-radius: 0;
    line-height: 40px;
    color: #FFF;
    position: inherit;
    top: inherit;
    left: inherit;
}
.products-list-small li:hover .thumbnail .add_to_cart {
    top: inherit;
}
.products-list-small li:hover .thumbnail .add_to_cart:hover {
    background: #0CC;
    color: #FFF;
}
.updatecart{background: none repeat scroll 0% 0% #333;margin-bottom: 40px;
            padding: 0px;
            width: 140px;
            height: 40px;
            border: medium none;
            border-radius: 0px;
            float:right;
            margin: 0px 20px;
            box-shadow: none;
            font: 14px/40px Roboto Condensed,Arial,Helvetica,sans-serif;
            color: #FFF;
            text-shadow: none;
            text-transform: uppercase;
            transition: all 0.25s linear 0s;
            padding: 0px 25px;
}
.updatecart:hover{background: none repeat scroll 0% 0% #0CC;}

.add_to_cart_global{
    margin-left: 16px;
}